/* navigation */
header {
    background-color: #e5b2ece7;
    display: flex;
}

header li {
    display: inline-block;
    justify-content: flex-end;
}

.homepage h2 {
   text-align: center;
   font-size: 60px;
}

